#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.screen {
  padding: 15px;
  width: 100%;
  height: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(DarkSlateGray, 0.4);
}

.calculator-container {
  height: 500px;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .natural {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@keyframes pulse {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
.pulse {
  margin-right: 5px;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-duration: 0.9s;
}
