<ion-grid class="calculator-container">

  <ion-row class="header">
    <ion-row>CASIO</ion-row>
    <ion-row>fx-82LA PLUS</ion-row>
  </ion-row>
  <ion-row class="natural">
    NATURAL-V.P.A.M
  </ion-row>

  <ion-row class="screen">
    <ion-row>Math ERROR</ion-row>
    <ion-row>[AC]     : Cancel</ion-row>
    <ion-row>[<-][->] : Goto</ion-row>
  </ion-row>

  <ion-row>
    <ion-col size="12" color="primary">
      <ion-label class="display">
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        AC
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        C
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        %
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        /
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">7
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        8
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        9
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        <ion-icon size="large" name="close"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        4
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        5
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        6
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        <ion-icon size="large" name="remove"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        1
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        2
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        3
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        <ion-icon size="large" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full"
      >
        +/-
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        0
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        .
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        =
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

